// Font.
$font: (
  primary: (
    'Muli',
    sans-serif,
  ),
);

// Palette.
$palette: (
  primary: #536383,
  secondary: #192948,
  tertiary: #9aa8bd,
  meta: #536383,
  border: #dbe0e5,
  bg: #f7f9fb,
  accent: #1c75df,
  accent-alt: #1493ff,
  accent-light: #0cbcff,
  accent-muted: #e3f4ff,
  greenAccessible: #008946,
  green: #00bd66,
  greenMuted: #e7ffe8,
  greenLabel: #0b8749,
  purpleAccessible: #7525dc,
  purple: #8d4ff8,
  purpleMuted: #e8d0ff,
  red-muted: #ffe4d8,
  red-accessible: #dc3a16,
  redBase: #ff5533,
  redMuted: #ffe4d8,
  redAccessible: #dc3a16,
  white: #ffffff,
);

@import 'imports/functions';

@import 'imports/reset';
@import 'imports/general';
@import 'imports/icons';
@import 'imports/structure';
@import 'imports/header';
@import 'imports/posts';
@import 'imports/sections';
@import 'imports/footer';
@import 'imports/banner';
@import 'imports/pagination';
@import 'imports/cookie-banner';
@import 'imports/sendinblue';
@import 'imports/pricing';
@import 'imports/recruit-block';
@import 'imports/form';
@import 'imports/tab-block';
@import 'imports/offer-section';
