// Font.
$font: (
  primary: (
    'Muli',
    sans-serif,
  ),
);

// Palette.
$palette: (
  primary: #536383,
  secondary: #192948,
  meta: #536383,
  border: #dbe0e5,
  bg: #f7f9fb,
  accent: #1c75df,
  accent-alt: #1493ff,
  accent-light: #0cbcff,
  greenAccessible: #008946,
  green: #00BD66,
  greenMuted: #E7FFE8,
  purpleAccessible: #7525DC,
  purple: #8D4FF8,
  purpleMuted: #E8D0FF,
  red-muted: #ffe4d8,
  red-accessible: #dc3a16,
);

@import 'imports/functions';

@import 'imports/reset';
@import 'imports/general';
@import 'imports/icons';
@import 'imports/structure';
@import 'imports/header';
@import 'imports/posts';
@import 'imports/sections';
@import 'imports/footer';
@import 'imports/banner';
@import 'imports/pagination';
@import 'imports/cookie-banner';
