---
new_page_extension: md
auto_deploy: false
admin_path: static/admin
webhook_url: https://api.stackbit.com/project/5d833248eee8550011997b7e/webhook/forestry
sections:
- type: document
  path: site-metadata.json
  label: Global Site Config
  templates:
  - config
- type: document
  path: src/data/social.json
  label: Social Links
  templates:
  - social
- type: document
  path: src/pages/index.md
  label: Home
  templates:
  - home
- type: document
  path: src/pages/participant.md
  label: Participants
  templates:
  - home
- type: document
  path: src/pages/pricing.md
  label: FAQ
  templates:
  - pricing
- type: document
  path: src/pages/contact.md
  label: Contact
  templates:
  - contact
- type: directory
  path: src/pages
  label: Page
  create: all
  match: "**/*"
  exclude: "{posts/**,index.md,pricing.md,features.md,blog/index.md,contact.md}"
  templates:
  - page
- type: document
  path: src/data/menus.json
  label: Site Menus
  templates:
  - site_menus
- type: heading
  label: Blog
- type: document
  path: src/pages/blog/index.md
  label: Accueil Blog
  templates:
  - blog
- type: directory
  path: src/pages/posts
  label: Post
  create: all
  match: "**/*"
  templates:
  - post
- type: document
  path: src/data/post_template.json
  label: Post Page Template
- type: directory
  path: src/data/authors
  label: Auteurs
  create: documents
  match: "**/*"
  new_doc_ext: json
  templates:
  - author
upload_dir: static/images
public_path: "/images"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
