.input {
  font-size: 14px;

  background-color: white;

  border-width: 1px;
  border-style: solid;
  border-color: _palette(border);
  border-radius: 4px;
  transition: border-color 0.3s;
  box-shadow: none;

  box-sizing: border-box;
  padding: 16px 16px;

  min-height: 48px;
  width: 100%;

  &:hover + div, &:focus + div, &:active + div {
    opacity: 1;
    cursor: pointer;
  }

  &::placeholder {
    color: _palette(tertiary);
    opacity: 0.6;
  }
  &:focus {
    border-color: _palette(blue);
  }
  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: _palette(redBase);
  }
}


.number-input {
  display: flex;
  padding: 0;

  .number-input__increment-button {
    box-sizing: border-box;
    min-width: 48px;
    height: 48px;

    background-color: white;
    border: 0;

    font-size: 23px;
    color: _palette(green);
    padding: 0;
    padding-bottom: 3px;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: _palette(border);
    &:last-child {
      border-right-width: 0;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: _palette(border);
    }
    &:not([disabled]):active {
      background-color: white;
    }
  }

  .number-input__input {
    padding: 13px 16px;

    height: 48px;
    min-width: 100px;
    width: 100%;

    text-align: center;
    box-sizing: border-box;
    -moz-appearance: textfield;

    border: none;

    &::placeholder {
      color: _palette(tertiary);
    }
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding-top: 0;
  padding-bottom: 0;
}

.select-container {
  position: relative;
  display: block;
  border-radius: 4px;

  .select-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 14px;
    z-index: 0;

    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select {
    background-color: transparent;
    z-index: 1;
    position: relative;
    padding-right: 40px;
  }

  &.gray {
    background: #dbe0e5;
    max-width: 250px;
  }
}

