.faq-page,
.pricing-page {
  .sib-form {
    padding-top: 128px;
  }
  #content.outer {
    padding-bottom: 0;
  }
}

.pricing-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.83333rem;

  justify-content: center;
  align-items: stretch;
}


.plan {
  font-size: 0.88889rem;
  max-width: 360px;
  text-align: center;

  -webkit-flex: 1 1 320px;
  -ms-flex: 1 1 320px;
  width: 320px;
  margin: 0 0 1.66667em;


  &.highlight {
    .plan-inside {
      // height: 110%;
      border: 1px solid _palette(accent-alt);
    }

    .button {
      background: _palette(accent);
      color: white;
      -webkit-transition: opacity 0.2s ease-in;
      transition: opacity 0.2s ease-in;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.75;
      }
    }
  }
}

.plan-inside {
  height: 100%;

  margin: 0 1em;
  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 rgba(_palette(primary), 0.1);
  padding: 0 0.83333rem;

  .block-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    padding-bottom: 2rem;
    padding-top: 0.5rem;


    .button {
      margin-bottom: 0;
    }
  }
}

.plan-header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  // margin: 0 -1rem 2rem;
  // background: #e3f4ff;
  border-radius: 4px 4px 0px 0px;
  color: _palette
}

.plan-name {
  color: _palette(accent);
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.plan-price {
  color: _palette(secondary);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.plan-details {
  flex: 1;

  ul {
    list-style: none;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    margin: 0 0 0.75em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 2rem;
  }
}
