/**
 * Sections
 * ----------------------------------------------------------------------------
 */
.block-title {
  font-size: 2.44444rem;
  margin: 0 0 1.33333rem;

  &:last-child {
    margin-bottom: 1.66667rem;
  }
}

.block-header {
  margin-bottom: 2rem;
  text-align: center;

  .block-title {
    font-size: 1.66667rem;
    min-height: 0.5rem;
  }
}

.block-preview {
  margin-bottom: 1.66667rem;
}

.block-buttons {
  margin-bottom: 0.83333rem;

  .button {
    margin: 0 7px 0.83333rem;
  }
}

.block-item {
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.gutter {
  margin-top: 24px;
}

.hero-block,
.text-block,
.image-block,
.block-item {
  .cell {
    text-align: center;
  }

  .underline:after {
    display: none;
  }

  .hero-preview {
    margin-top: 40px;
  }
}

.features-block {
  .block-title {
    font-size: 1.66667rem;
    line-height: 150%;
  }
}

.feature-flag {
  display: inline-block;
  padding: 4px 12px;
  font-size: 0.75rem;
  border-radius: 4px;
  font-weight: 700;
  margin-bottom: 8px;

  &.feature-flag--coming-soon {
    color: _palette(redAccessible);
    background: _palette(redMuted);
  }
  &.feature-flag--beta {
    color: _palette(purpleAccessible);
    background: _palette(purpleMuted);
  }
}

.video-wrapper {
  width: 100%;
  max-width: 560px;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  height: 0;
  width: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block-copy {
  li {
    text-align: left;
  }
}

@media only screen and (min-width: 801px) {
  .block-item {
    margin-bottom: 1.66667rem;
  }

  .hero-block,
  .text-block,
  .block-item {
    .grid,
    .top-grid {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -0.83333rem;
    }

    .grid {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .top-grid {
      -ms-flex-align: start;
      -webkit-align-items: start;
      align-items: start;
    }

    .cell {
      box-sizing: border-box;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-left: 0.83333rem;
      margin-right: 0.83333rem;
      text-align: left;

      &:only-child {
        margin-left: auto;
        margin-right: auto;
        max-width: 555px;
        text-align: center;
      }
    }

    .block-preview {
      -webkit-flex: 7;
      -ms-flex: 7;
      flex: 7;
      padding-right: 68px;
    }

    .hero-preview {
      -webkit-flex: 7;
      -ms-flex: 7;
      flex: 7;
      margin-top: -80px;
    }

    .block-content {
      -webkit-flex: 6;
      -ms-flex: 6;
      flex: 6;
    }

    .underline:after {
      display: block;
    }

    .button {
      margin-left: 0;
      margin-right: 15px;
    }
  }

  .text-block,
  .block-item:nth-child(2n + 1) {
    .grid {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .block-preview {
      padding-left: 68px;
      padding-right: 0;
    }

    .hero-preview {
      padding-left: 32px;
      margin-bottom: 0;
    }
  }
}

/* Image */

.image-block {
  padding-bottom: 6rem;
}

.block-overlap {
  margin-top: -140px;
}

@media only screen and (min-width: 741px) {
  .block-overlap {
    margin-top: -230px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    img {
      border-radius: 4px;
      box-shadow: 0 20px 40px 0 rgba(_palette(primary), 0.2);
    }
  }
}

/* Value */

.valueblock-icon {
  width: 55px;
  height: auto;
}

.valueblock {
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;

  p {
    margin-bottom: 2.5rem;
  }
}

.valueblock-title {
  margin: 1.25rem 0 1rem 0;
  font-size: 1.11111rem;
}

@media only screen and (min-width: 741px) {
  .valueblock {
    p {
      margin-bottom: 0;
    }
  }
}

/* Call to Action */
.cta-block {
  .block-title {
    font-size: 1.66667rem;
    margin: 0 0 0.25rem;
  }

  .cell {
    text-align: center;
  }

  @media only screen and (min-width: 741px) {
    .grid {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -0.83333rem;
    }

    .cell {
      box-sizing: border-box;
      margin-left: 0.83333rem;
      margin-right: 0.83333rem;
      text-align: left;
    }

    .block-content {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .block-buttons {
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-left: 68px;
    }
  }
}

/* Studies */

.study {
  border: 0;
  font-size: 0.88889rem;
  line-height: 1.75;
  margin: 0 auto 1.66667rem;
  max-width: 488px;
  padding: 0;
}

.study-inside {
  background: #fff;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(_palette(primary), 0.1);
  padding: 1.5rem;
}

.study-text {
  margin-bottom: 1.5em;
  padding-top: 2rem;
  position: relative;
}

.study-title {
  color: _palette(secondary);
  font-size: inherit;
  font-weight: bold;
  margin: 0;
}

@media only screen and (min-width: 741px) {
  .studies-block {
    .grid {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -0.83333rem;
      justify-content: center;
    }

    .cell {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1 1 280px;
      -ms-flex: 1 1 280px;
      flex: 1 1 280px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0 1.66667em;

      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .cell {
        min-width: 40%;
      }

      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .cell {
        min-width: 30%;
      }
    }

    .study-inside {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0.833333em;
    }
  }
}

/* Icon Blocks */

.iconblock-icon {
  width: 200px;
  height: auto;
}

.iconblock {
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.iconblock-title {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.11111rem;
}

/* Reviews */
.review {
  border: 0;
  font-size: 0.88889rem;
  line-height: 1.75;
  margin: 0 auto 1.66667rem;
  max-width: 488px;
  padding: 0;
}

.review-inside {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(_palette(primary), 0.1);
  padding: 1.11111rem;
}

.review-text {
  margin-bottom: 1.5em;
  padding-top: 2rem;
  position: relative;

  &:before {
    color: _palette(accent);
    content: '\201C';
    display: block;
    font-size: 2.66667rem;
    font-weight: bold;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
  }
}

.review-footer {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  .review-author {
    color: _palette(secondary);
    font-size: inherit;
    font-weight: bold;
    margin: 0;
  }

  .review-avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 15px;
    width: 60px;
  }
}

@media only screen and (min-width: 741px) {
  .cell-block {
    .grid {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -0.83333rem;
      justify-content: center;
    }

    .cell {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1 1 280px;
      -ms-flex: 1 1 280px;
      flex: 1 1 280px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0 1.66667em;

      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .cell {
        min-width: 40%;
      }

      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .cell {
        min-width: 30%;
      }
    }

    .review-inside {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0.833333em;
    }
  }
}

/* FAQ */
.faq-accordion {
  margin-bottom: 3.33333rem;
  text-align: left;
}

.accordion-header {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 rgba(_palette(primary), 0.1);
  margin-top: 1.25rem;

  .accordion-trigger {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: 0;
    border-radius: 4;
    border: none;
    box-shadow: none;
    color: _palette(secondary);
    font-size: 1rem;
    height: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 15px;
    text-align: left;
    width: 100%;
  }

  .accordion-icon {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 15px;
  }
}

.accordion-panel {
  margin: 0;
  max-height: 75vh;
  overflow: hidden;
}

.badger-accordion--initialized .accordion-panel {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.accordion-panel.-ba-is-hidden {
  max-height: 0 !important;
  visibility: hidden;
}

.accordion-panel.-ba-is-active {
  box-shadow: 0 3px 10px 0 rgba(_palette(primary), 0.1);
  margin-top: 0.5rem;
}

.accordion-content {
  background: #fff;
  border-radius: 4px;
  color: _palette(primary);
  font-size: 0.88889rem;
  padding: 1rem 15px;
}

.accordion-trigger.-ba-is-active .icon-plus:after {
  display: none;
}

/* Latest posts */
.posts-block {
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .post-card {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }

    .post-card-inside {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .post-card-thumbnail {
      border-radius: 0 3px 3px 0;
      -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;

      img {
        border-radius: 0 3px 3px 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .post-card-content {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }
  }
}

.block {
  &.bg-white {
    background: #fff;

    .post-card-inside,
    .review-inside,
    .plan-inside {
      box-shadow: 0 3px 10px 0 rgba(_palette(primary), 0.15);
    }
  }

  &.bg-accent {
    background: _palette(accent);
    background: -webkit-linear-gradient(
      to right,
      _palette(accent),
      _palette(accent-light)
    );
    background: linear-gradient(
      to right,
      _palette(accent),
      _palette(accent-light)
    );
    .underline:after {
      border-color: currentColor;
    }
  }
  &.bg-accent,
  &.bg-orange,
  &.bg-blue {
    color: #fff;

    .block-title {
      color: inherit;
    }

    .form-label {
      color: inherit;
    }
  }

  &.bg-orange {
    background-color: _palette(redBase);
  }
  &.bg-blue {
    background-color: _palette(accent-alt);
  }

  &.bg-white + &.bg-white,
  &.bg-gray + &.bg-gray {
    padding-top: 0;
  }

  @media only screen and (min-width: 801px) {
    &.bg-img {
      background-image: url(/images/hero-bg-2.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.cta-button-block {
  margin: 2rem 0;
  text-align: center;

  .cta-button-block__title {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: _palette(meta);
    font-weight: 400;
  }
}

.social-share-buttons {
  padding: 16px;
  margin-top: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .social-share-buttons__button {
    margin-left: 8px;
  }
}

/* How It Works */
.how-it-works {
  .steps-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .block-title {
    text-align: center;
    padding-top: 24px;
  }
  .step-block {
    width: 240px;
    text-align: center;
    padding: 20px;
  }
  .stepblock-icon {
    width: auto;
    height: 140px;
  }
  .stepblock-caption {
    font-weight: bold;
    padding-top: 40px;
    color: _palette(secondary);
  }
  @media only screen and (min-width: 741px) {
    .steps-block {
      flex-flow: row wrap;
      align-items: flex-start;
    }
  }
}

.cards-grid {
  margin-bottom: 24px;
  .inner {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .cards-block {
    margin-top: 40px;
  }
  .card-block {
    height: 264px;
    width: 100%;
    flex: 1 1 32%;
    margin: 0;
    border-top: 1px solid _palette(border);

    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      border-top: 0;
    }
  }
  .card-block-title {
    margin: 0;
    color: _palette(secondary);
    font-weight: bold;
  }
  @media only screen and (min-width: 741px) {
    .card-block {
      border: 1px solid _palette(border);
      &:first-child,
      &:nth-child(4n) {
        border-left: 0;
      }
      &:nth-child(-n + 3) {
        border-top: 0;
      }
      &:nth-child(3n) {
        border-right: 0;
      }
      &:nth-last-child(-n + 3) {
        border-bottom: 0;
      }
    }
  }
}
